<div class="container mt-4">

<form [formGroup]="form" (ngSubmit)="agregarLibro()">
   

    
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="nombre">Nombre del Libro:</label>
                <input type="text" formControlName="nombre" class="form-control form-control-lg">

            </div>
        </div>

            
        <div class="col-lg-3">
            <div class="form-group">
                <label for="genero">Autor</label>
                <select formControlName="autor" id="autor" class="form-select  form-control-lg">
                    @for (elem of listaAutor; track elem) {
                    <!--option  value="{{elem.id}}"-->
                    <option  value="{{elem.id}}">
                        {{elem.nombre}}
                    </option>
                    }
                </select>
                
            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="genero">Genero</label>
                <select formControlName="genero" id="genero" class="form-select  form-control-lg">
                    @for (elem of listaGenero; track elem) {
                    <!--option  value="{{elem.id}}"-->
                    <option  value="{{elem.id}}">
                        {{elem.nombre}}
                    </option>
                    }
                </select>
                
            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group mt-4">
                <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-lg">Agregar
                    <i class="bi bi-person-plus-fill"></i>
                </button>
            </div>

        </div>
    </div>
</form>
<a routerLink="/listado" class="card-link">Regresar al listado</a>
</div>